html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #1755bb;
  font-weight: bold;
  text-decoration: none;
}

.pattern {
  background: url(../images/tessel.png) repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-bg {
  height: 100%;
  background-image: url(../images/bren.jpg);
  background-size: cover;
}

.wrapper {
  color: #FFF;
  margin: auto;
  padding: 50px 0;
  margin-top: 50px;
}

.logo {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 600px;
}

.logo img {
  width: 600px;
}

.main-content {
  color: #fff;
  background-color: #1e2736;
  padding: 50px 20px;
}

.main-content p {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  margin: 10px 0;
}

.highlight {
  color: #FEE300;
}

.faq {
  padding: 50px 200px;
}

.sponsors {
  width: 760px;
  margin: 0 auto;
  padding: 50px 0;
}

.sponsors h3 {
  margin-bottom: 50px;
}

.sponsors p {
  font-weight: bold;
  text-align: center;
}

.sponsors img {
  width: 200px;
  margin-right: 50px;
}

.organizers {
  margin: 50px 0;
}

.organizers h3 {
  font-size: 35px;
}

.organizers img {
  width: 125px;
}

.info {
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
  font-size: 26px;
}

h3 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.caption {
  text-align: center;
  font-style: italic;
  font-size: 14px;
}

#register {
  color: #000;
  background-color: #fee300;
  padding: 10px;
  margin: 0 auto;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 400px;
}

h4 {
}

section.header {
  margin-top: 225px;
}
